gittarget
build
out
node_modules
test
*.iml
*.ipr
*~
*.orig
.project
.DS_Store
*.class
.classpath
bin/
*.bak
Thumbs.db
.settings/
/target
.idea/*
.mvn
mvnw
mvnw.cmd
.gradle/
build/
gradle/
out/
.java-version
logs/*